<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Persons details</title>
</head>
<body>
<h2>Persons details</h2>

<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${persons}":>
        <td th:text="${person.name()}">Mariusz</td>
        <td th:text="${person.surname()}">Pastuszka</td>
        <td th:text="${person.age()}">18</td>
    </tr>
    </tbody>
</table>
</body>
</html>